Makefile
geodash3
*.cmake

#for windows
.vs
geodash3.exe
out
*~

#ignore all txt files
*.txt
#except for CMakeLists.txt
!CMakeLists.txt
#and level-list.txt
!level-list.txt
#and the license
!LICENSE.txt

#ignore directory for creating debian packages
deb

CMakeFiles

build/dependencies
